@charset "UTF-8";
.player-controls__button {
  padding: 8px;
  border-radius: 5px;
  vertical-align: baseline;
  cursor: pointer;
  transition: background-color 0.2s;
}
.player-controls__button img {
  width: 20px;
  width: 18px;
  user-select: none;
}
.player-controls__button:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}

.player-controls__button--volume {
  margin-right: 10px;
}

.player-controls__button--play {
  font-size: 48px;
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #424242;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__button--play:hover {
  background-color: #646464;
}
.player-controls__button--play::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%); /* 位置調整 */
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 20px solid #ffffff;
  border-bottom: 12px solid transparent;
}

.player-controls__button--pause {
  font-size: 48px;
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__button--pause:hover {
  background-color: #646464;
}
.player-controls__button--pause::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) left center/8px 100% no-repeat, linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) right center/8px 100% no-repeat;
}

* {
  font-family: "Zen Kaku Gothic New", serif;
}

body {
  color: rgb(107, 171, 255);
  color: rgb(215, 250, 231);
  color: #fff;
}

.container {
  width: 100%;
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #2e2e2e;
  margin-left: 300px;
  overflow-y: auto;
}

.sidebar-header {
  width: 300px;
  height: 100vh;
  background-color: #202020;
  background-color: #111111;
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 10%, rgb(19, 19, 19) 30%, rgb(32, 32, 32) 99%);
  position: fixed;
  padding: 10px 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}
.sidebar-header__logo {
  padding: 5px;
}
.sidebar-header__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar-header__item-icon {
  margin-right: 12px;
}
.sidebar-header__link {
  padding: 6px 10px;
  display: block;
  border-radius: 5px;
}
.sidebar-header__link:hover {
  background-color: #2e2e2e;
}

main {
  height: 100%;
  padding: 40px 60px;
}

footer {
  padding: 0 60px;
  height: 100%;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1;
  background-color: #2e2e2e;
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
}
.search-input {
  width: 100%;
}
.search-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
}
.search-button:hover {
  background-color: #3a3a3a;
  border-radius: 5px;
}

.thumbnail-preview {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 136px);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: hidden;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease;
}
.thumbnail-preview__background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: -10px;
  height: calc(100% + 20px);
  margin-bottom: 300px;
  filter: blur(30px);
  filter: blur(100px);
  filter: blur(60px);
  clip-path: inset(0);
}
.thumbnail-preview__content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}
.thumbnail-preview__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.thumbnail-preview__image-warpper {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.thumbnail-preview__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: rgba(49, 49, 49, 0.3137254902) solid 1px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.thumbnail-preview__image-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #131313;
  transition: opacity 0.3s ease-out;
  border-radius: 10px;
  visibility: hidden;
}
.thumbnail-preview__image-transition::after {
  content: "";
  background-image: url(/img/music-128.png);
  background-size: contain;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}

.player-controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  border: #161616 solid 1px;
  background: linear-gradient(180deg, rgb(25, 25, 25), rgb(44, 44, 44), rgb(25, 25, 25));
  z-index: 1000;
  padding: 20px 20px;
  padding: 20px 10px;
  padding: 10px 10px 20px 10px;
  padding: 5px 10px 20px 10px;
}
.player-controls__info {
  height: 70px;
  position: relative;
  display: none;
}
.player-controls__track-info {
  position: absolute;
  width: 231px;
  height: 85px;
  z-index: 1000;
  left: 0;
  bottom: -10px;
  bottom: -15px;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.player-controls__track-info:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.player-controls__track {
  left: 0px;
  bottom: -10px;
  display: flex;
  align-items: center;
}
.player-controls__track-thumbnail-wrapper {
  width: 75px;
  height: 75px;
  position: relative;
  user-select: none;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}
.player-controls__track-thumbnail-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: #131313;
  transition: opacity 0.3s ease-out;
  border-radius: 5px;
}
.player-controls__track-thumbnail-transition::after {
  content: "";
  background-image: url(/img/music-64.png);
  background-size: contain;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}
.player-controls__track-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.player-controls__track-meta {
  position: absolute;
  top: 10px;
  top: 5px;
  left: 95px;
  text-wrap: nowrap;
  height: calc(100% - 10px);
  user-select: none;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  line-height: 1;
}
.player-controls__title {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s;
}
.player-controls__artist {
  font-size: 14px;
}
.player-controls__options {
  display: flex;
  align-items: center;
  gap: 20px;
}
.player-controls__progress {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.player-controls__progress:hover .player-controls__progress-bar {
  height: calc(3px + 4%);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
}
.player-controls__progress:hover .player-controls__progress-thumb {
  transform: translateY(-50%) scale(15);
  background-color: #fff;
  opacity: 1;
  transition: transform 0.15s ease-in-out, width 0.1s, height 0.1s, background-color 0.1s ease-in;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}
.player-controls__progress:active .player-controls__progress-thumb {
  transform: translateY(-50%) scale(22);
  background-color: rgb(255, 0, 85);
}
.player-controls__current-time, .player-controls__duration {
  user-select: none;
  font-size: 14px;
  margin: 0 10px;
}
.player-controls__progress-bar--wrapper {
  width: 100%;
  height: 100%;
  height: 36px;
  height: 41px;
  display: flex;
  align-items: center;
}
.player-controls__progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  transition: height 0.1s;
  position: relative;
  transition: transform 0.3s, height 0.1s;
  background: rgb(68, 68, 68);
}
.player-controls__progress-fill {
  width: 0%;
  height: 100%;
  background-color: rgb(217, 22, 86);
  background-image: linear-gradient(90deg, rgb(217, 22, 86) 85%, rgb(255, 0, 119) 95%);
  background-image: linear-gradient(90deg, rgb(217, 22, 86) 85%, rgb(255, 0, 64) 95%);
  border-radius: 4px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__progress-thumb {
  width: 1px;
  height: 1px;
  background-color: rgb(217, 22, 86);
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-in-out, width 0.1s, height 0.1s, background-color 0.1s ease-in, opacity 1s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.player-controls__options {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
}
.player-controls__options-menu {
  position: absolute;
  top: -375px;
  right: 20px;
  background-color: rgba(32, 32, 32, 0.9529411765);
  background-color: rgba(20, 20, 20, 0.65);
  background-color: rgba(22, 22, 22, 0.65);
  font-size: 15px;
  padding: 20px 15px;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px);
  user-select: none;
  transition: opacity 0.3s ease;
}
.player-controls__options-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3411764706);
  padding: 14px 0;
  text-wrap: nowrap;
  cursor: pointer;
}
.player-controls__options-item:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}
.player-controls__options-item:last-of-type {
  border-bottom: none;
}
.player-controls__volume {
  display: flex;
  align-items: center;
}
.player-controls__volume img {
  width: 20px;
  height: 20px;
}
.player-controls__volume-bar--wrapper {
  width: 100%;
  width: 100px;
  height: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}
.player-controls__volume-bar--wrapper:active .player-controls__volume-thumb {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 85);
}
.player-controls__volume-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  transition: height 0.1s;
  position: relative;
  transition: transform 0.3s, height 0.1s;
  background: rgb(68, 68, 68);
}
.player-controls__volume-fill {
  width: 0%;
  height: 100%;
  background-color: rgb(217, 22, 86);
  border-radius: 4px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__volume-thumb {
  width: 13px;
  height: 13px;
  background-color: rgb(217, 22, 86);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-in-out, width 0.15s, height 0.15s, background-color 0.1s ease-in;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.player-controls__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumbnail-expanded .player-controls__track-info:hover {
  background-color: rgba(75, 75, 75, 0.3);
}
.thumbnail-expanded .player-controls__track-thumbnail-wrapper {
  position: absolute;
  top: 5px;
  opacity: 0;
}
.thumbnail-expanded .player-controls__track-meta {
  left: 14px;
}

/* ボタンコンテナ */
.player-controls__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 12px;
}

.is-visible {
  opacity: 1;
}

.has-overlay {
  background: none;
  background-color: rgba(19, 19, 19, 0.8);
}

.is-option {
  opacity: 1;
}