@charset "UTF-8";
.player-controls__button {
  padding: 8px;
  border-radius: 5px;
  vertical-align: baseline;
  cursor: pointer;
  transition: background-color 0.2s, opacity ease 0.2s;
}
.player-controls__button img {
  width: 20px;
  width: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.player-controls__button:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.player-controls__button:active {
  background-color: #555555;
  background-color: #292929;
}

.player-controls__button--volume {
  position: relative;
  margin-right: 10px;
  width: 34px;
  height: 34px;
}
.player-controls__button--volume-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;
}
.player-controls__button--volume-icon-high {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(3%) scale(1.06);
  left: 9px;
}

.player-controls__play-pause-button {
  width: 48px;
  height: 48px;
  background-color: #424242;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__play-pause-button:hover {
  background-color: rgba(100, 100, 100, 0.7) !important;
}
.player-controls__play-pause-button img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  -o-object-fit: cover;
     object-fit: cover;
}
.player-controls__play-pause-button .player-controls__play-icon {
  left: 54%;
}
.player-controls__play-pause-button .player-controls__pause-icon {
  left: 50%;
}

.search-bar__clear-button {
  z-index: 1000;
  background-color: #2e2e2e;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 14.7%;
  transition: background-color 0.2s;
}
.search-bar__clear-button:hover {
  background-color: #444;
}
.search-bar__clear-button .search-bar__clear-icon {
  width: 16px;
  transform: scale(0.8);
}

.playlist-create-button {
  padding: 10px;
  border-radius: 5px;
  line-height: 1;
  background-color: rgb(217, 22, 86);
  transition: background-color 0.2s ease;
}
.playlist-create-button:hover {
  background-color: rgb(224, 59, 114);
}

.playlists-page__create-button {
  margin-top: 40px;
  font-size: 0.875rem;
}

.playlist-selection__create-button {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
}

.modal-cancel-submit-button {
  padding: 10px 16px;
  padding: 9px 16px;
  border-radius: 5px;
  transition: background-color ease 0.2s;
}

.modal-cancel-button {
  background-color: #555;
}
.modal-cancel-button:hover {
  background-color: #686868;
}

.modal-submit-button {
  background-color: rgb(217, 22, 86);
}
.modal-submit-button:hover {
  background-color: rgb(224, 59, 114);
}

.playlist-detail__header-button {
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease;
  font-size: 0.875rem;
  background-color: #555555;
}
.playlist-detail__header-button:hover {
  background-color: #666666;
}
.playlist-detail__header-button-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.playlist-detail__header-play-button {
  background-color: rgb(217, 22, 86);
}
.playlist-detail__header-play-button:hover {
  background-color: rgb(224, 59, 114);
}

.playlist-detail__header-rename-button-icon {
  transform: scale(1.2);
}

.play-pause-button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(10px);
  background-color: #444444;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.9);
  background-color: rgb(217, 22, 86);
  transition: 0.3s ease transform, opacity 0.2s ease;
}
.play-pause-button:hover {
  background-color: rgb(224, 59, 114);
  transform: scale(1.1) !important;
}
.play-pause-button-icon {
  min-width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
}
.play-pause-button .play-button-icon {
  left: 15px;
  transform: translateY(-50%);
}
.play-pause-button .pause-button-icon {
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__track-add-button {
  width: 30px;
  height: 30px;
  background-color: rgba(39, 39, 39, 0.37);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #292929;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease background-color;
}
.home__track-add-button:hover {
  background-color: rgba(114, 114, 114, 0.4666666667);
}
.home__track-add-button-icon {
  display: block;
  width: 22px;
  width: 18px;
  margin: auto;
}

.track-item__more-button {
  opacity: 0;
  padding: 8px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  border-radius: 14.7%;
  margin-right: 10px;
}
.track-item__more-button:hover {
  background-color: #585858;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.track-item__more-button .track-item__more-icon {
  width: 18px;
  transform: scale(0.9);
}

.track-item__left-play-pause-button {
  visibility: hidden;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.track-item__left-play-pause-button .track-item__left-play-pause-icon {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root::-webkit-scrollbar {
  scrollbar-width: none;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: rgb(107, 171, 255);
  color: rgb(215, 250, 231);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #2e2e2e;
  overflow: hidden;
}
body::-webkit-scrollbar {
  scrollbar-width: none;
}

img {
  -webkit-user-drag: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  width: calc(100% - 300px);
  height: 100vh;
  height: 85vh;
  background-color: #2e2e2e;
  margin-left: 300px;
  scrollbar-gutter: stable;
  overflow-y: auto;
}
.container::-webkit-scrollbar {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 9px;
  background: #444444;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #757575;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
}

.sidebar-header {
  width: 300px;
  height: 100vh;
  background-color: #202020;
  background-color: #111111;
  z-index: 3000;
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 10%, rgb(19, 19, 19) 30%, rgb(32, 32, 32) 99%);
  position: fixed;
  padding: 10px 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
}
.sidebar-header__user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
}
.sidebar-header__user-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.sidebar-header__logo {
  padding: 5px;
}
.sidebar-header__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar-header__item-icon {
  margin-right: 12px;
}
.sidebar-header__link {
  padding: 6px 10px;
  display: block;
  border-radius: 5px;
}
.sidebar-header__link:hover {
  background-color: #2e2e2e;
}

main {
  padding: 40px 60px;
  max-height: 85vh;
}

footer {
  padding: 0 60px;
}

.search-bar {
  margin-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
  background-color: #2e2e2e;
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  padding-left: 40px;
  padding-right: 20px;
}
.search-bar__input {
  width: 100%;
  height: 24px;
}
.search-bar__search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  z-index: 1000;
}

.thumbnail-preview {
  background-color: #000000;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 136px);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3000;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.35s ease;
  pointer-events: none;
}
.thumbnail-preview__background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1); /* 半透明の黒を追加 */
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw + 9px);
  height: 100vh;
  margin: -10px;
  height: calc(100% + 20px);
  margin-bottom: 300px;
  filter: blur(30px);
  filter: blur(100px);
  filter: blur(60px);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.thumbnail-preview__content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}
.thumbnail-preview__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-wrap: nowrap;
}
.thumbnail-preview__artist {
  color: #eeeeee;
  font-weight: 500;
}
.thumbnail-preview__image-warpper {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: rgba(177, 177, 177, 0.2117647059) solid 1px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.thumbnail-preview__image {
  width: 100%;
  height: 100%;
}
.thumbnail-preview__image-fallback {
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
}
.thumbnail-preview__image-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #131313;
  transition: opacity 0.3s ease-out;
  border-radius: 10px;
  visibility: hidden;
}
.thumbnail-preview__image-transition::after {
  content: "";
  background-image: url(/img/music-128.png);
  background-size: contain;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}

.player-controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  border: #161616 solid 1px;
  background: linear-gradient(180deg, rgb(25, 25, 25), rgb(44, 44, 44), rgb(25, 25, 25));
  z-index: 3000;
  padding: 20px 20px;
  padding: 20px 10px;
  padding: 10px 10px 20px 10px;
  padding: 5px 10px 20px 10px;
}
.player-controls__info {
  height: 70px;
  position: relative;
  display: none;
}
.player-controls__track-info {
  position: absolute;
  height: 85px;
  z-index: 1000;
  left: 0;
  bottom: -10px;
  bottom: -15px;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.player-controls__track-info:hover {
  background-color: #3a3a3a;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.player-controls__track {
  position: absolute;
  left: 5px;
  display: flex;
  align-items: center;
}
.player-controls__track-thumbnail-wrapper {
  width: 75px;
  height: 75px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  background-color: #181818;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  overflow: hidden;
}
.player-controls__track-thumbnail-transition {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: #181818;
  transition: opacity 0.3s ease-out;
  border-radius: 5px;
}
.player-controls__track-thumbnail-transition::after {
  content: "";
  background-image: url(/img/music-64.png);
  background-size: contain;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  z-index: 1100;
}
.player-controls__track-thumbnail {
  width: 100%;
  height: 100%;
}
.player-controls .track-info-fallback-cover {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  border: none;
}
.player-controls__track-meta {
  position: absolute;
  top: 5px;
  text-wrap: nowrap;
  height: calc(100% - 10px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  line-height: 1;
  z-index: 1000;
  transform: translateX(95px);
  transition: transform 0.3s ease;
}
.player-controls__title {
  font-size: 1.125rem;
  font-weight: bold;
  transition: all 0.3s;
}
.player-controls__artist {
  font-size: 0.875rem;
  color: #b3b3b3;
  font-weight: 500;
}
.player-controls__options {
  display: flex;
  align-items: center;
  gap: 20px;
}
.player-controls__progress {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.player-controls__progress:hover .player-controls__progress-bar {
  height: calc(3px + 4%);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
}
.player-controls__progress:hover .player-controls__progress-thumb {
  transform: translateY(-50%) scale(15);
  background-color: #fff;
  opacity: 1;
  transition: transform 0.15s ease-in-out, width 0.1s, height 0.1s, background-color 0.1s ease-in;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
}
.player-controls__progress:active .player-controls__progress-thumb {
  transform: translateY(-50%) scale(22);
  background-color: rgb(255, 0, 85);
}
.player-controls__current-time, .player-controls__duration {
  max-width: 24px;
  min-width: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.875rem;
  margin: 0 10px 0 10px;
}
.player-controls__progress-bar--wrapper {
  width: 100%;
  height: 100%;
  height: 36px;
  height: 41px;
  display: flex;
  align-items: center;
}
.player-controls__progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  transition: height 0.1s;
  position: relative;
  transition: transform 0.3s, height 0.1s;
  background: rgb(68, 68, 68);
}
.player-controls__progress-fill {
  width: 0%;
  height: 100%;
  background-color: rgb(217, 22, 86);
  background-image: linear-gradient(90deg, rgb(217, 22, 86) 85%, rgb(255, 0, 119) 95%);
  background-image: linear-gradient(90deg, rgb(217, 22, 86) 85%, rgb(255, 0, 64) 95%);
  border-radius: 4px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__progress-thumb {
  width: 1px;
  height: 1px;
  background-color: rgb(217, 22, 86);
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.15s ease-in-out, width 0.1s, height 0.1s, background-color 0.1s ease-in, opacity 1s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.player-controls__options {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
}
.player-controls__options-menu {
  position: absolute;
  top: -375px;
  right: 20px;
  background-color: rgba(32, 32, 32, 0.9529411765);
  background-color: rgba(20, 20, 20, 0.65);
  background-color: rgba(22, 22, 22, 0.65);
  font-size: 0.9375rem;
  padding: 20px 15px;
  border-radius: 16px;
  border: 1px solid #3a3a3a;
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 0.3s ease;
}
.player-controls__options-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3411764706);
  padding: 14px 0;
  text-wrap: nowrap;
  cursor: pointer;
}
.player-controls__options-item:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}
.player-controls__options-item:last-of-type {
  border-bottom: none;
}
.player-controls__volume {
  display: flex;
  align-items: center;
}
.player-controls__volume img {
  width: 20px;
  height: 20px;
}
.player-controls__volume-bar--wrapper {
  width: 100%;
  width: 100px;
  height: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.player-controls__volume-bar--wrapper:active .player-controls__volume-thumb {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 85);
}
.player-controls__volume-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  transition: height 0.1s;
  position: relative;
  transition: transform 0.3s, height 0.1s;
  background: rgb(68, 68, 68);
}
.player-controls__volume-fill {
  width: 0%;
  height: 100%;
  background-color: rgb(217, 22, 86);
  border-radius: 4px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
}
.player-controls__volume-thumb {
  width: 13px;
  height: 13px;
  background-color: rgb(217, 22, 86);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-in-out, width 0.15s, height 0.15s, background-color 0.1s ease-in;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.player-controls__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip {
  top: -32px;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #141414;
  padding: 6px 10px;
  line-height: 1;
  font-size: 0.8125rem;
  border-radius: 10%;
  background-color: #272727;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  text-wrap: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: right 1s, opacity 0.2s ease-in;
  z-index: 3000;
  cursor: auto;
}
.tooltip-play, .tooltip-pause {
  left: 50%;
  transform: translateX(-50%);
}
.tooltip-prev {
  left: 40px;
}
.tooltip-next {
  right: 40px;
}
.tooltip-repeat {
  right: -35px;
}
.tooltip-shuffle {
  left: -40px;
}
.tooltip-volume {
  left: -25px;
  letter-spacing: -2px;
}
.tooltip-other {
  right: 0;
  letter-spacing: -1px;
}
.tooltip-track-info {
  top: -10px;
  right: -35px;
}

.thumbnail-expanded .player-controls__track-info:hover {
  background-color: rgba(75, 75, 75, 0.4);
}
.thumbnail-expanded .player-controls__track-thumbnail-wrapper {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.thumbnail-expanded .player-controls__track-meta {
  min-height: 65px;
  position: absolute;
  top: 5px;
  text-wrap: nowrap;
  height: calc(100% - 10px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  line-height: 1;
  z-index: 1000;
  transform: translateX(14px);
  transition: transform 0.3s ease;
  will-change: transform;
}
.thumbnail-expanded .player-controls__button:hover {
  background-color: rgba(100, 100, 100, 0.4);
}
.thumbnail-expanded .player-controls__play-pause-button {
  background-color: rgba(66, 66, 66, 0.6);
}
.thumbnail-expanded .player-controls__progress-bar,
.thumbnail-expanded .player-controls__volume-bar {
  background: rgba(238, 238, 238, 0.2);
}

/* ボタンコンテナ */
.player-controls__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 2000;
}

.is-visible {
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.has-overlay {
  background: none;
  background-color: rgba(19, 19, 19, 0.8);
}

.is-option {
  pointer-events: painted;
  opacity: 1;
}

.search-result__title {
  font-weight: 700;
  font-size: 1.375rem;
  padding-bottom: 20px;
}
.search-result__list {
  margin-top: 20px;
  counter-reset: my-counter;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.search-result-highlight {
  color: rgb(248, 27, 101);
  font-weight: 700;
  font-size: 1.75rem;
  padding-right: 4px;
}

.equalizer {
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  display: flex;
  justify-content: center;
  height: 21px;
}

.bar {
  width: 3px;
  height: 21px;
  /* background-color: limegreen; */
  background-color: rgb(217, 22, 86);
  animation: 1s move6 infinite;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  visibility: hidden;
}

.bar:nth-child(1) {
  animation-delay: 0.2s;
}

.bar:nth-child(2) {
  animation-delay: 0.4s;
}

.bar:nth-child(3) {
  animation-delay: 0.6s;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 2px;
  }
  25% {
    height: 9px;
  }
  50% {
    height: 21px;
  }
  100% {
    height: 2px;
  }
}
.track__list-head {
  border-bottom: 1px solid #636363;
  margin-top: 10px;
  height: 40px;
  display: flex;
  position: relative;
}
.track__list-head-index, .track__list-head-title, .track__list-head-duration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.track__list-head-index {
  left: 22px;
  font-size: 1.125rem;
}
.track__list-head-title {
  left: 122px;
}
.track__list-head-duration {
  right: 20px;
  width: 16px;
}

.track-item {
  position: relative;
  padding: 7px;
  display: flex;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}
.track-item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #444;
}
.track-item:hover .track-item__left::before {
  content: "";
}
.track-item:hover .track-item__left-play-pause-button {
  visibility: visible;
}
.track-item:hover .track-menu-button {
  opacity: 1;
}
.track-item:hover .track-source-icon {
  opacity: 1;
}
.track-item__left {
  width: 40px;
  height: 50px;
  margin-right: 7px;
  position: relative;
}
.track-item__left::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  display: block;
  float: left;
  line-height: 50px;
  font-size: 1.0625rem;
  text-align: center;
  width: 40px;
  height: 50px;
}
.track-item.playing .track-item__left::before {
  content: "";
}
.track-item.clicked {
  background-color: #1b1b1b;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.track-item.clicked .track-item__title,
.track-item.clicked .track-item__left {
  font-weight: 700;
  color: rgb(217, 22, 86);
}
.track-item.clicked .track-source-icon {
  opacity: 1;
}
.track-item.clicked:hover .equalizer {
  visibility: hidden;
}
.track-item__track-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-weight: 500;
}
.track-item__artist {
  color: #b3b3b3;
  font-size: 0.875rem;
}
.track-item__cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.track-item__cover-art-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #181818;
  border-radius: 5px;
  border: rgba(146, 146, 146, 0.231372549) solid 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.track-item__initial-cover {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.track-item__right {
  width: 112px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
}
.track-item .equalizer {
  top: 50%;
  left: 50%;
  width: 21px;
}
.track-item .bar {
  margin: 0.05em;
}

.track-source-icon {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.track-source-icon-spotify {
  color: #1db954;
}

.track-source-icon-local {
  color: #aaaaaa;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
.modal-smoke {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.555);
  width: 100vw;
  height: 100vh;
  bottom: 0;
  z-index: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.modal-content {
  background-color: #272727;
  width: 600px;
  height: 400px;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border: 1px solid #3a3a3a;
}
.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal-field {
  padding-top: 40px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.modal-label {
  color: #b3b3b3;
}
.modal-input {
  padding: 10px 0px;
  height: 40px;
  border-bottom: 1px solid #5f5f5f;
}
.modal-actions {
  position: absolute;
  bottom: 30px;
  bottom: 20px;
  right: 30px;
  display: flex;
  gap: 6px;
  gap: 12px;
}
.modal .playlist-cover-fallback-wrapper img {
  width: 26px;
  height: 26px;
}
.modal .single .track-0 {
  border: none;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.modal .single .track-0 .img-0 {
  width: 52px;
  height: 52px;
}
.modal .single .img-0 {
  width: 140px;
  height: 140px;
}

.login {
  text-align: center;
}
.login__text {
  padding-top: 50px;
  line-height: 1.8;
}
.login__button {
  margin-top: 50px;
  font-weight: 700;
  padding: 18px 60px;
  border-radius: 10px;
  background-color: #d91656;
  transition: background-color 0.1s ease, transform 0.2s ease;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);
}
.login__button:hover {
  background-color: rgb(237, 42, 106);
  transform: scale(1.02);
}

.rename-playlist-modal__content {
  padding-top: 30px;
  padding-bottom: 0;
}
.rename-playlist-modal__cover-img-wrapper {
  margin: 30px auto 0 auto;
  width: 140px;
  height: 140px;
}
.rename-playlist-modal__cover {
  width: 100%;
  height: 100%;
}
.rename-playlist-modal__initial-cover-img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.rename-playlist-modal__field {
  padding-top: 20px;
}

.error-text {
  padding-top: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fc2a2a;
  display: flex;
  align-content: center;
}
.error-text img {
  margin-right: 6px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-4px);
  }
  25% {
    transform: translateX(4px);
  }
  37.5% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  62.5% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(1px);
  }
  87.5% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.6s ease-in-out;
}

.playlist-selection__content {
  position: relative;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  height: 470px;
  text-align: center;
  padding: 40px 20px;
  background-color: #272727;
  border-radius: 5px;
  border-radius: 10px;
  box-shadow: 0 0px 9px rgba(0, 0, 0, 0.3);
}
.playlist-selection__close-button {
  position: absolute;
  top: 0;
  right: 0;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
}
.playlist-selection__close-button:hover {
  background-color: #444;
}
.playlist-selection__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}
.playlist-selection__title {
  font-size: 1.25rem;
  font-weight: 700;
}
.playlist-selection__list {
  margin-top: 40px;
  max-height: 252px;
  overflow-y: scroll;
}
.playlist-selection__list::-webkit-scrollbar {
  position: absolute;
  right: -10px;
  width: 7px;
  background-color: #272727;
  box-shadow: none;
}
.playlist-selection__item {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.playlist-selection__item:hover {
  background-color: #444;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.playlist-selection__item-cover-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
}
.playlist-selection__item-cover-img-wrapper {
  width: 100%;
  height: 100%;
}
.playlist-selection__item-cover-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.playlist-selection__item-cover-art {
  border-radius: 5px;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.playlist-selection__item-initial-cover-img {
  left: 47%;
  width: 24px;
  height: 24px;
}
.playlist-selection .playlist-cover-fallback-wrapper img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.playlist-selection .single .img-0 {
  width: 64px;
  height: 64px;
}
.playlist-selection .single .track-0 {
  opacity: 0;
}
.playlist-selection__item-initial-cover-img-bg {
  opacity: 1;
}

.playlist-page__create-playlist-modal-content {
  padding-top: 30px;
  padding-bottom: 0;
}
.playlist-page__create-playlist-modal-cover-img-wrapper {
  position: relative;
  margin: 30px auto 0 auto;
  width: 140px;
  height: 140px;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  background-color: #181818;
}
.playlist-page__create-playlist-modal-initial-cover-img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.playlist-page__create-playlist-modal-field {
  padding-top: 20px;
}

.delete-playlist-modal__content {
  padding-top: 30px;
  padding-bottom: 0;
}
.delete-playlist-modal__title {
  text-align: center;
}
.delete-playlist-modal__cover-img-wrapper {
  position: relative;
  margin: 60px auto 0 auto;
  width: 140px;
  height: 140px;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #181818;
}
.delete-playlist-modal__initial-cover-img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.delete-playlist-modal__actions {
  bottom: 20px;
}

.upload-modal__track {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background-color: #3a3a3a;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.upload-modal__track-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.upload-modal__track-cover-img-wrapper {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #181818;
  border-radius: 5px;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  overflow: hidden;
  position: relative;
}
.upload-modal__track-cover-img {
  width: 100%;
  height: 100%;
}
.upload-modal__track-cover-img.fallback-cover {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.upload-modal__track-title {
  font-weight: 700;
}
.upload-modal__track-artist {
  color: #b3b3b3;
}
.upload-modal__exsit-button {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.home {
  width: 100%;
}
.home__title {
  font-size: 2rem;
  font-weight: 700;
}
.home__text {
  padding-top: 40px;
  font-size: 1.125rem;
}
.home__track-list {
  margin-top: 54px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.home__track-item {
  width: 200px;
  height: 268px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
.home__track-item:hover {
  background-color: #444;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.home__track-item:hover .home__track-play-pause-button {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.home__track-item:hover .home__track-add-button {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.home__track-cover-art-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.home__track-cover-art {
  border-radius: 5px;
  background-color: #242424;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__track-info {
  padding-top: 10px;
}
.home__track-name {
  font-size: 0.875rem;
  font-weight: 700;
}
.home__track-artist {
  color: #b3b3b3;
  font-size: 0.875rem;
  padding-top: 10px;
}
.home .equalizer {
  position: absolute;
  left: 50%;
  top: 50%;
  top: 100px;
  top: 94px;
  width: 30px;
  transform: translate(-50%, -50%) rotate(180deg) scale(1.8);
  filter: none !important;
}
.home .bar {
  border-radius: 1px;
  margin: 0.8px;
}
.home .smoke {
  filter: brightness(50%);
}

.playlists-page__title {
  font-size: 2rem;
  font-weight: 700;
}
.playlists-page__text {
  padding-top: 40px;
  font-size: 1.125rem;
}
.playlists-page__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.playlists-page__item {
  width: 200px;
  height: 268px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  padding: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}
.playlists-page__item:hover {
  background-color: #444;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.playlists-page__item:hover .playlists-page__item-play-pause-button {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}
.playlists-page__item-cover-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #181818;
}
.playlists-page__item-cover-img-wrapper {
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none;
  border-radius: 0;
}
.playlists-page__item-initial-cover-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}
.playlists-page .single .img-0 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.playlists-page .single .playlist-cover-fallback-wrapper {
  opacity: 0;
}
.playlists-page__item-cover-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.playlists-page__item-info {
  padding-top: 10px;
}
.playlists-page__item-name {
  font-weight: 700;
  padding-bottom: 10px;
}
.playlists-page__item-meta {
  color: #b3b3b3;
}

.playlist-cover-image-grid {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
  background-color: #181818;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.playlist-cover-img {
  width: 100%;
  height: 100%;
}

.track-0,
.img-0 {
  grid-column: 1;
  grid-row: 1;
}

.track-1,
.img-1 {
  grid-column: 2;
  grid-row: 2;
}

.track-2,
.img-2 {
  grid-column: 2;
  grid-row: 1;
}

.track-3,
.img-3 {
  grid-column: 1;
  grid-row: 2;
}

.track-0 {
  border-right: rgba(146, 146, 146, 0.231372549) solid 0.1px;
  border-bottom: rgba(146, 146, 146, 0.231372549) solid 0.1px;
}

.track-1 {
  border-top: rgba(146, 146, 146, 0.231372549) solid 0.1px;
  border-left: rgba(146, 146, 146, 0.231372549) solid 0.1px;
}

.playlist-cover-fallback-wrapper {
  position: relative;
  background-color: #181818;
}

.playlist-cover-fallback {
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.playlist-initial-cover-img {
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}

.playlist-detail__header {
  background-color: rgb(71, 71, 71);
  height: 240px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  gap: 30px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.playlist-detail__header .single .img-0 {
  width: 200px;
  height: 200px;
}
.playlist-detail__header .single .track-0 .img-0 {
  width: 70px;
  height: 70px;
}
.playlist-detail__header-cover-img-wrapper {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;
}
.playlist-detail__header-cover-imgs {
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.playlist-detail__header-cover-imgs.single {
  display: block;
}
.playlist-detail__header-initial-cover-img-bg {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  width: 100%;
  height: 100%;
  background-color: #181818;
  opacity: 1;
  transition: opacity 0.6s ease;
  z-index: 900;
}
.playlist-detail__header-initial-cover-img {
  width: 70px;
  height: 70px;
}
.playlist-detail__header-cover-img {
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #181818;
}
.playlist-detail .header-track-has-no-cover {
  padding: 10px;
}
.playlist-detail .header-cover-fallback-wrapper {
  position: relative;
  background-color: #181818;
  width: 100%;
  height: 100%;
}
.playlist-detail__header-info {
  position: relative;
  text-wrap: nowrap;
}
.playlist-detail__header-title {
  font-size: 56px;
  font-size: 3.875rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.playlist-detail__header-status {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
}
.playlist-detail__header-actions-buttons {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 20px;
  right: 20px;
}
.playlist-detail__list {
  margin-top: 100px;
  margin-top: 20px;
  counter-reset: my-counter;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.playlist-detail__item {
  position: relative;
  padding: 7px;
  display: flex;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}
.playlist-detail__item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #444;
}
.playlist-detail__artist {
  color: #b3b3b3;
  font-size: 0.875rem;
}
.playlist-detail__cover-art {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: rgba(146, 146, 146, 0.231372549) solid 1px;
}
.playlist-detail__left {
  width: 40px;
  height: 50px;
  margin-right: 7px;
  position: relative;
}
.playlist-detail__left::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  display: block;
  float: left;
  line-height: 50px;
  font-size: 1.0625rem;
  text-align: center;
  width: 40px;
  height: 50px;
}
.playlist-detail__right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 30px;
}

.toast-message {
  visibility: hidden;
  position: fixed;
  right: 20px;
  bottom: 150px;
  font-size: 1.0625rem;
  font-weight: 500;
  min-width: 250px;
  background-color: #414141;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  will-change: right, opacity;
}
.toast-message__icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.playlist-update-success {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    right: -350px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    right: 20px;
    opacity: 1;
  }
  to {
    right: -350px;
    opacity: 0;
  }
}
.track-more-menu {
  position: absolute;
  width: 250px;
  right: 176px;
  background-color: rgba(22, 22, 22, 0.65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 0.9375rem;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  z-index: 90000;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.track-more-menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3411764706);
  padding: 14px 0;
  text-wrap: nowrap;
  cursor: pointer;
}
.track-more-menu__item img {
  width: 18px;
  margin-right: 10px;
}
.track-more-menu__item:last-of-type {
  border-bottom: none;
}
.track-more-menu__item:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}

.is-open-menu {
  pointer-events: painted;
  opacity: 1;
}

.skeleton-track-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.skeleton-track-list__item {
  position: relative;
  padding: 7px;
  display: flex;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  height: 64px;
}
.skeleton-track-list__item-left {
  width: 40px;
  height: 50px;
  margin-right: 7px;
  position: absolute;
}
.skeleton-track-list__item-left-count {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.skeleton-track-list__item-cover {
  position: absolute;
  left: 60px;
  left: 54px;
  width: 50px;
  height: 50px;
  background-color: #555555;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.skeleton-track-list__item-info {
  position: absolute;
  left: 122px;
  left: 125px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  line-height: 1.5;
  font-weight: 500;
}
.skeleton-track-list__item-right {
  position: absolute;
  right: 20px;
  top: 54%;
  transform: translateY(-50%);
}
.skeleton-track-list__item-title {
  top: 5px;
  top: 6px;
}
.skeleton-track-list__item-artist {
  bottom: 5px;
  bottom: 8px;
}

.skeleton {
  position: absolute;
  background-color: #555555;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, #727272 50%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, #686868 50%, transparent 100%);
  animation: shimmer 1.5s infinite;
  animation: shimmer 1.2s infinite;
}

.skeleton--text {
  width: 160px;
  height: 14px;
  height: 13px;
}

.short {
  width: 120px;
}

.very-short {
  width: 26px;
}

@keyframes shimmer {
  0% {
    left: -150px;
    left: -300px;
    left: -200px;
  }
  100% {
    left: 100%;
  }
}
.card-list-skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card-list-skeleton__item {
  width: 200px;
  height: 265px;
  position: relative;
  padding: 5px;
}
.card-list-skeleton__cover {
  position: absolute;
  width: 190px;
  height: 188px;
}
.card-list-skeleton__text {
  top: 203px;
}
.card-list-skeleton__text-short {
  width: 64px;
  bottom: 22px;
}

.playlist-select-skeleton {
  margin-top: 40px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding: 10px 0;
}
.playlist-select-skeleton__item {
  width: 100%;
  height: 64px;
  position: relative;
}
.playlist-select-skeleton__item-cover {
  border-radius: 10px;
  width: 64px;
  aspect-ratio: 1/1;
}
.playlist-select-skeleton__item-text {
  position: absolute;
  left: 74px;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 15px;
}

.fade-on-loaded {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-in-up {
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  height: 4px;
  border-radius: 5px;
  width: calc(100% - 80px);
  --progress-layer: no-repeat linear-gradient(#f0f0f0 0 0);
  background: var(--progress-layer), var(--progress-layer), #3a3a3a;
  background-size: 60% 100%;
}

.loader.animate {
  animation: progressAnimation 2s infinite;
}

@keyframes progressAnimation {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}