.success-message {
  position: absolute;
  top: 0;
}

.playlist-update-success {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 300px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 300px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}