body {
  .fade-on-loaded {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .fade-in-up {
    animation: fadeInUp 0.4s ease forwards;
    // animation-delay: 0.1s;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  left: 50%;
  bottom: 120px;
  // bottom: 100px;
  transform: translateX(-50%);
  height: 4px;
  border-radius: 5px;
  width: calc(100% - 80px);
  --progress-layer: no-repeat linear-gradient(#f0f0f0 0 0);
  background: var(--progress-layer), var(--progress-layer), #3a3a3a;
  background-size: 60% 100%;
}

.loader.animate {
  animation: progressAnimation 2s infinite;
}

@keyframes progressAnimation {
  0% {
    background-position:
      -150% 0,
      -150% 0;
  }
  66% {
    background-position:
      250% 0,
      -150% 0;
  }
  100% {
    background-position:
      250% 0,
      250% 0;
  }
}

@keyframes scrollStripe {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 0;
  }
}
