.fade-on-loaded {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-in {
  opacity: 1;
}

.fade-in-up {
  animation: fadeInUp 0.4s ease forwards;
  // animation-delay: 0.1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
