.player-controls__button {
  // padding: 8px 12px;
  padding: 8px;
  border-radius: 5px;
  vertical-align: baseline;
  cursor: pointer;
  img {
    width: 20px;
    width: 18px;
    user-select: none;
  }
  // transition: background-color 0.05s;
  transition:
    background-color 0.2s,
    opacity ease 0.2s;
  &:hover {
    // opacity: 0.8;
    background-color: #3a3a3a;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  }
  &:active {
    // background-color: #9e9d9d;
    background-color: #555555;
    background-color: #292929;
  }
}

.player-controls__button--volume {
  position: relative;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  // display: flex;
  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9px;
  }
  &-icon-high {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(3%) scale(1.06);
    left: 9px;
  }
}

// プログレスバーの再生・停止ボタン
.player-controls__play-pause-button {
  width: 48px;
  height: 48px;
  background-color: #424242;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: rgba(100, 100, 100, 0.7) !important;
  }

  // この書き方の方が優先度が上がるってほかのスタイルの上書きを防げるからしょうがない
  // &-icon {
  img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    object-fit: cover;
  }

  .player-controls__play-icon {
    left: 54%;
  }

  .player-controls__pause-icon {
    left: 50%;
  }
}

.search-bar__clear-button {
  z-index: 1000;
  background-color: #2e2e2e;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 4px;
  border-radius: 14.7%;
  transition: background-color 0.2s;

  &:hover {
    background-color: #444444;
  }

  .search-bar__clear-icon {
    width: 16px;
    transform: scale(0.8);
  }
}

// プレイリスト関連のボタン
.playlist-create-button {
  padding: 10px;
  border-radius: 5px;
  line-height: 1;
  background-color: rgb(217, 22, 86);
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgb(224, 59, 114);
  }
}

.playlists-page__create-button {
  margin-top: 40px;
  font-size: 14px;
}

.playlist-selection__create-button {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
}

.playlist-cancel-create-button {
  padding: 10px 16px;
  border-radius: 5px;
  transition: background-color ease 0.1s;
}

.playlist-page__create-playlist-modal-cancel:hover {
  background-color: #5f5f5f;
}
.playlist-page__create-playlist-modal-create:hover {
  background-color: rgb(217, 22, 86);
}

.playlist-detail__header-button {
  padding: 10px 16px;
  border-radius: 5px;
  // box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease;
  font-size: 14px;
  background-color: #555555;

  &:hover {
    background-color: #666666;
  }

  &-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.playlist-detail__header-play-button {
  background-color: rgb(217, 22, 86);
  &:hover {
    background-color: rgb(224, 59, 114);
  }
}

.playlist-detail__header-rename-button-icon {
  transform: scale(1.2);
}

// ホームjsのボタンのスタイル再生と停止のスタイルを共通化しろかす↓↓
.play-pause-button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  background-color: #444444;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.9);
  background-color: rgb(217, 22, 86);
  transition:
    0.3s ease transform,
    opacity 0.2s ease;

  &:hover {
    background-color: #646464;
    background-color: rgb(224, 59, 114);
    transform: scale(1.1) !important;
  }

  &-icon {
    min-width: 24px;
    height: 24px;
    // padding-left: 15px;
    // transition: 0.3s ease transform;
    position: absolute;
    top: 50%;
  }

  .play-button-icon {
    left: 15px;
    transform: translateY(-50%);
  }

  .pause-button-icon {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.home__track-add-button {
  width: 30px;
  height: 30px;
  background-color: rgba(39, 39, 39, 0.37);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #292929;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease background-color;

  &:hover {
    background-color: #72727277;
  }

  &-icon {
    display: block;
    width: 22px;
    width: 18px;
    margin: auto;
  }
}

.track-add-button {
  opacity: 0;
  padding: 8px;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
  border-radius: 14.7%;

  &:hover {
    background-color: #585858;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  }

  .track-add-icon {
    width: 18px;
    transform: scale(0.9);
  }
}
// 検索結果一覧のボタン
// .search-result__left-play-pause-button {
.track-item__left-play-pause-button {
  visibility: hidden;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);

  // .search-result__left-play-pause-icon {
  .track-item__left-play-pause-icon {
    width: 100%;
    height: 100%;
  }
}
