@use "variables" as *;

@mixin card-grid($block, $button-type) {
  .#{$block} {
    width: 100%;
  }
  .#{$block}__title {
    font-size: $font-size-32;
    font-weight: 700;
  }

  .#{$block}__text {
    padding-top: 40px;
    font-size: $font-size-18;
  }

  .#{$block}__text-info {
    padding-top: 40px;
    color: $text-color-sub;
    font-size: $font-size-14;
  }

  .#{$block}__track-list {
    margin-top: 54px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .#{$block}__track-item {
    width: 200px;
    height: 268px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
    overflow: hidden;
  }

  .#{$block}__track-item:hover {
    background-color: $hover-gray;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    .#{$block}__track-play-pause-button {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
    .#{$block}__track-#{$button-type}-button {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .#{$block}__track-cover-art-wrapper {
    // filter: brightness(50%);
    width: 100%;
    aspect-ratio: 1/1;
    // height: 180px;
    // height: 188px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .#{$block}__track-cover-art {
    border-radius: 5px;
    background-color: #242424;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.15s ease;
  }

  .#{$block}__track-info {
    padding-top: 10px;
  }

  .#{$block}__track-name {
    font-size: $font-size-14;
    font-weight: 700;
  }

  .#{$block}__track-artist {
    color: $text-color-sub;
    font-size: $font-size-14;
    padding-top: 10px;
  }

  .#{$block}__track-#{$button-type}-button {
    width: 30px;
    height: 30px;
    background-color: rgba(39, 39, 39, 0.37);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #292929;
    visibility: hidden;
    opacity: 0;
    transition:
      0.2s ease background-color,
      0.2s ease opacity;

    &:hover {
      background-color: #72727277;
    }

    &-icon {
      display: block;
      width: 18px;
      margin: auto;
    }
  }

  .#{$block} .equalizer {
    position: absolute;
    // right: 14px;
    // bottom: 12px;
    left: 50%;
    top: 50%;
    top: 100px;
    top: 94px;
    width: 30px;
    // visibility: visible;
    visibility: hidden;
    // transform: scale(1.8) rotate(180deg) translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(180deg) scale(1.8);
    // z-index: 10000;
    filter: none !important;
    .bar {
      margin: 0.8px;
    }
  }

  // ===============================
  // 再生中 or 一時停止中の状態管理
  // ==============================

  .#{$block} .is-playing {
    .equalizer {
      height: 21px;
      visibility: visible;
    }

    .#{$block}__track-cover-art {
      filter: brightness(50%);
    }
  }

  .#{$block} .is-current {
    .#{$block}__track-cover-art {
      filter: brightness(50%);
    }
  }
}
