.track-more-menu {
  position: absolute;
  width: 250px;
  right: 176px;
  // background-color: #202020f3;
  // background-color: rgba(20, 20, 20, 0.65);
  // background-color: rgba(22, 22, 22, 0.65);
  background-color: rgba(22, 22, 22, 0.65);
  backdrop-filter: blur(5px);

  font-size: 15px;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  z-index: 90000;
  line-height: 1.2;
  opacity: 0;
  // visibility: hidden;
  transition: opacity 0.3s ease;
  pointer-events: none;
  user-select: none;
  &__list {
  }
  &__item {
    border-bottom: 1px solid #ffffff57;
    padding: 14px 0;
    text-wrap: nowrap;
    cursor: pointer;

    img {
      width: 18px;
      margin-right: 10px;
    }

    &:last-of-type {
      border-bottom: none;
    }
    &:hover {
      background-color: #ffffff10;
    }
  }
}

.is-open-menu {
  pointer-events: painted;
  opacity: 1;
}
