.home {
  width: 100%;
  // box-sizing: border-box;
  // border: 1px solid red;
  &__title {
    font-size: 32px;
    font-weight: 700;
  }
  &__text {
    padding-top: 40px;
    font-size: 18px;
  }

  &__track-list {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  &__track-item {
    width: 200px;
    height: 265px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
  }
  &__track-item:hover {
    background-color: #444444;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    .home__track-play-button {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
    .home__track-add-button {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
  }
  &__track-cover-art-wrapper {
    // filter: brightness(50%);
    width: 100%;
    // height: 180px;
    height: 188px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  &__track-cover-art {
    border-radius: 5px;
    background-color: #242424;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__track-play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    background-color: #444444;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.9);
    background-color: rgb(217, 22, 86);
    transition:
      0.3s ease transform,
      opacity 0.2s ease;
    &:hover {
      background-color: #646464;
      background-color: rgb(224, 59, 114);
      transform: scale(1.1) !important;
    }
  }
  &__track-play-button-icon {
    min-width: 24px;
    height: 24px;
    padding-left: 15px;
    transition: 0.3s ease transform;
  }
  &__track-add-button {
    width: 40px;
    height: 40px;
    width: 30px;
    height: 30px;
    background-color: rgba(39, 39, 39, 0.37);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #292929;
    border: 1px solid #303030;

    visibility: hidden;
    opacity: 0;
    transition:
      0.3s ease transform,
      opacity 0.2s ease,
      0.2s ease background-color;
    &:hover {
      background-color: #72727277;
    }
  }
  &__track-add-button-icon {
    display: block;
    width: 22px;
    width: 18px;
    margin: auto;
  }
  &__track-info {
    padding-top: 10px;
  }
  &__track-name {
    font-size: 14px;
    font-weight: 700;
  }
  &__track-artist {
    color: #b3b3b3;
    font-size: 14px;
    padding-top: 10px;
  }
  .equalizer {
    position: absolute;
    // right: 14px;
    // bottom: 12px;
    left: 50%;
    top: 50%;
    top: 100px;
    top: 94px;
    width: 30px;
    // visibility: visible;
    // transform: scale(1.8) rotate(180deg) translate(-50%, -50%);
    transform: translate(-50%, -50%) rotate(180deg) scale(1.8);
    // z-index: 10000;
    filter: none !important;
  }
  .bar {
    border-radius: 1px;
    margin: 0.8px;
  }
  .smoke {
    filter: brightness(50%);
  }
}
