@use "variables" as *;
@use "mixin" as *;
@use "button" as *;
@use "animations" as *;
@use "card-grid" as *;

* {
  // font-family: 'M PLUS 1p', serif;
  // font-family: 'Zen Kaku Gothic New', sans-serif;
  // outline: 1px solid red;
  box-sizing: border-box;
}

#root {
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  //   background-color: rgb(8, 0, 0);
  color: rgb(107, 171, 255);
  color: rgb(215, 250, 231);
  color: $text-color;
  font-size: $font-size-16;
  font-weight: 500;
  background-color: $background-color;
  // display: flex;
  overflow: hidden;

  // background-color: #00bcd4;
  // background-color: #00bcd4;
  // background-color: #9c27b0;
  // background-color: rgb(217, 22, 86);
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  object-fit: cover;
}

.container {
  width: 100%;
  width: calc(100% - 300px);

  height: 100vh;
  height: 85vh;
  background-color: $background-color;
  margin-left: 300px;

  scrollbar-gutter: stable;
  overflow-y: auto;
  // background-image: url(/img/テストサムネ１.jpg);
  // background-size: cover;
  // background-position: top center;
  // background-repeat: no-repeat;
  // overflow: scroll;
  &::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background: #444444;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  transition: all 0.2s ease;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #757575;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8f8f8f;
}

.sidebar-header {
  width: 300px;
  height: 100vh;
  background-color: #202020;
  background-color: #111111;
  z-index: 3000;
  // background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  // background: linear-gradient(220.55deg, #4063bc 0%, #6b0013 100%);
  // background-image: linear-gradient(
  //   42deg,
  //   rgb(0, 0, 0) 10%,
  //   rgb(10, 10, 10) 30%,
  //   rgba(23, 21, 31, 1) 99%
  // );
  background-image: linear-gradient(42deg, rgb(0, 0, 0) 10%, rgb(19, 19, 19) 30%, rgb(32, 32, 32) 99%);

  position: fixed;
  padding: 10px 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
  &__user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
  }
  &__user-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  &__logo {
    padding: 5px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__item {
  }
  &__item-icon {
    margin-right: 12px;
  }
  &__link {
    padding: 6px 10px;
    display: block;
    border-radius: 5px;
  }
  &__link:hover {
    background-color: $background-color;
  }
}
main {
  // height: 100%;
  padding: 40px 60px;
  max-height: 85vh;
  height: 85vh;
  position: relative;
}
footer {
  padding: 0 60px;
  // height: 100%;
}
.search-bar {
  margin-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
  background-color: $background-color;
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  padding-left: 40px;
  padding-right: 20px;

  &__input {
    width: 100%;
    height: 24px;
  }
  &__search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    z-index: 1000;
  }
}
///////////////////////////////////////////////////////////////////////////////////
.expanded-cover-view {
  background-color: #000000;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 136px);
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3000;
  overflow: hidden;
  opacity: 0;
  padding-top: 110px;
  padding-left: 40px;
  padding-right: 40px;
  transition: opacity 0.35s ease;
  pointer-events: none;
  // &::-webkit-scrollbar {
  //   scrollbar-width: none;
  // }
  &__background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1); /* 半透明の黒を追加 */
    background-blend-mode: overlay;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100vw + 9px);
    height: 100vh;
    margin: -10px;
    height: calc(100% + 20px);
    margin-bottom: 300px;
    filter: blur(30px);
    // filter: blur(200px);
    filter: blur(100px);
    filter: blur(60px);

    clip-path: inset(0);
    // &::-webkit-scrollbar {
    //   scrollbar-width: none;
    // }
  }
  &__content {
    max-width: 400px;
    position: relative;
    z-index: 3001;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
  }

  &__title {
    font-size: $font-size-24;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-wrap: nowrap;
  }
  &__artist {
    color: #eeeeee;
    font-weight: 500;
  }
  &__image-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: #b1b1b136 solid 1px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__image-fallback {
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
  }

  &__image-transition {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #131313;
    transition: opacity 0.3s ease-out;
    border-radius: 10px;
    visibility: hidden;
    &::after {
      content: "";
      background-image: url(/img/music-128.png);
      background-size: contain;
      position: absolute;
      // width: 160px;
      // height: 160px;
      width: 120px;
      height: 120px;
      top: 50%;
      left: 46.5%;
      transform: translate(-50%, -50%);
      z-index: 1100;
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////
.player-controls {
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  // background-color: rgb(32, 32, 32);
  border: #161616 solid 1px;
  // display: none;
  // background-image: linear-gradient(
  //   0deg,
  //   rgb(20, 20, 20),
  //   rgba(78, 15, 53, 1) 40%,
  //   rgb(20, 20, 20)
  // );
  // background-image: linear-gradient(
  //   0deg,
  //   rgb(25, 25, 25),
  //   rgb(46, 8, 31) 25%,
  //   rgb(25, 25, 25)
  // );
  background: linear-gradient(180deg, rgba(25, 25, 25, 1), rgb(44, 44, 44), rgba(25, 25, 25, 1));
  // transition: all 0.3s ease;
  // background-image: linear-gradient(
  //   180deg,
  //   rgba(25, 25, 25, 0.8),
  //   rgb(44, 44, 44, 0.8),
  //   rgba(25, 25, 25, 0.8)
  // );

  z-index: 3000;
  padding: 20px 20px;
  padding: 20px 10px;
  padding: 10px 10px 20px 10px;
  padding: 5px 10px 20px 10px;

  &__info {
    height: 70px;
    position: relative;
    display: none;
    // background-color: #272727;
    // background-color: #1b1b1b;
  }
  &__track-info {
    position: absolute;
    // position: relative;
    // width: 231px;
    height: 85px;
    z-index: 1000;
    left: 0;
    bottom: -10px;
    bottom: -15px;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    // background-color: #3a3a3a;
  }
  &__track-info:hover {
    // display: none;
    // background-color: #2c2c2c;
    background-color: #3a3a3a;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  }
  &__track {
    position: absolute; //横幅計算するやつコメント解除して
    left: 5px;
    // bottom: 10px;
    // bottom: -10px;
    display: flex;
    align-items: center;
  }

  &__track-thumbnail-wrapper {
    width: 75px;
    height: 75px;
    position: relative;
    user-select: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    background-color: #181818;
    border: #afafaf46 solid 1px;
    overflow: hidden;
  }

  &__track-thumbnail-transition {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: #181818;
    transition: opacity 0.3s ease-out;

    border-radius: 5px;
    // border: #9292923b solid 1px;
    // border: #afafaf46 solid 1px;
    &::after {
      content: "";
      // background-image: url(/img/8分音符アイコン\ 3.png);
      // background-image: url(/img/music-24.png);
      background-image: url(/img/music-64.png);
      background-size: contain;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 46.5%;
      transform: translate(-50%, -50%);
      z-index: 1100;
    }
  }
  &__track-thumbnail {
    width: 100%;
    height: 100%;

    font-size: 12px;
    // object-fit: cover;
    // border-radius: 5px;
    // border: #9292923b solid 1px;
  }

  .track-info-fallback-cover {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    border: none;
  }

  &__track-meta {
    position: absolute;
    // top: 10px;
    top: 5px;

    text-wrap: nowrap;
    height: calc(100% - 10px);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    line-height: 1;
    z-index: 1000;

    transform: translateX(95px);
    transition: transform 0.3s ease;
  }
  &__title {
    font-size: $font-size-18;
    font-weight: bold;
    transition: all 0.3s;
  }
  &__artist {
    font-size: $font-size-14;
    color: $text-color-sub;
    font-weight: 500;
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__progress {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    padding: 0;
    // padding: 5px 0;
    // margin-bottom: 70px;
    position: relative;
    cursor: pointer;
    &:hover {
      .player-controls__progress-bar {
        height: calc(3px + 4%);
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
      }
      .player-controls__progress-thumb {
        // transform: translateY(-25%) scale(15);
        transform: translateY(-50%) scale(15);
        background-color: #fff;
        // visibility: visible;
        opacity: 1;
        transition:
          transform 0.15s ease-in-out,
          width 0.1s,
          height 0.1s,
          background-color 0.1s ease-in;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);
      }
    }
    &:active {
      .player-controls__progress-thumb {
        transform: translateY(-50%) scale(22);
        background-color: rgb(255, 0, 85);
        // box-shadow: 0 0px 2px rgba(0, 0, 0, 0.9);
      }
    }
  }

  &__current-time,
  &__duration {
    max-width: 24px;
    min-width: 24px;
    user-select: none;
    font-size: $font-size-14;
    margin: 0 10px 0 10px;
  }

  &__progress-bar--wrapper {
    width: 100%;
    height: 100%;
    height: 36px;
    // height: 38px;
    height: 41px;
    display: flex;
    align-items: center;
  }

  &__progress-bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    transition: height 0.1s;
    position: relative;
    transition:
      transform 0.3s,
      height 0.1s;
    background: #444444;
  }

  .progress-bar-loading {
    width: 100%;

    height: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    transition: height 0.1s;
    position: relative;
    transition:
      transform 0.3s,
      height 0.1s;
    background-image: linear-gradient(
      -45deg,
      $progress-bar-loading-color1 25%,
      $progress-bar-loading-color2 25%,
      $progress-bar-loading-color2 50%,
      $progress-bar-loading-color1 50%,
      $progress-bar-loading-color1 75%,
      $progress-bar-loading-color2 75%,
      $progress-bar-loading-color2
    );
    background-size: 60px 60px;
    animation: scrollStripe 1s linear infinite;
  }

  &__progress-fill {
    width: 0%;
    height: 100%;
    background-color: $primary-color;
    background-image: linear-gradient(90deg, rgba(217, 22, 86, 1) 85%, rgb(255, 0, 119) 95%);
    background-image: linear-gradient(90deg, rgba(217, 22, 86, 1) 85%, rgb(255, 0, 64) 95%);
    border-radius: 4px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    // transition: all 0.3s;
  }

  &__progress-thumb {
    width: 1px;
    height: 1px;
    // width: 14px;
    // height: 14px;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition:
      transform 0.15s ease-in-out,
      width 0.1s,
      height 0.1s,
      background-color 0.1s ease-in,
      opacity 1s;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }

  &__options {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
  }

  &__options-menu {
    position: absolute;
    top: -375px;
    right: 20px;
    background-color: #202020f3;
    background-color: rgba(20, 20, 20, 0.65);
    background-color: rgba(22, 22, 22, 0.65);
    font-size: $font-size-15;
    padding: 20px 15px;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    opacity: 0;
    pointer-events: none;
    // visibility: hidden;
    backdrop-filter: blur(5px);
    user-select: none;
    transition: opacity 0.3s ease;
  }

  &__options-item {
    border-bottom: 1px solid #ffffff57;
    padding: 14px 0;
    text-wrap: nowrap;
    cursor: pointer;
    &:hover {
      background-color: #ffffff10;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__volume-bar--wrapper {
    width: 100%;
    width: 100px;
    height: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:active {
      .player-controls__volume-thumb {
        // transform: translate(-50%, -50%) scale(1.3);
        // transform: translate(-50%, -45%) scale(1.3);
        width: 18px;
        height: 18px;
        background-color: $primary-color-stronger;
      }
    }
  }

  &__volume-bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    transition: height 0.1s;
    position: relative;
    transition:
      transform 0.3s,
      height 0.1s;
    background: rgb(68, 68, 68);
  }
  &__volume-fill {
    width: 0%;
    height: 100%;
    // height: 3px;
    background-color: $primary-color;
    border-radius: 4px;
    // position: relative;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
    // transition: width 0.1s ease;
  }
  &__volume-thumb {
    width: 13px;
    height: 13px;
    background-color: $primary-color;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
      transform 0.15s ease-in-out,
      width 0.15s,
      height 0.15s,
      background-color 0.1s ease-in;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tooltip {
  border: 1px solid #141414;
  padding: 6px 10px;
  line-height: 1;
  font-size: $font-size-13;
  border-radius: 10%;
  background-color: #272727;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  text-wrap: nowrap;
  user-select: none;
  pointer-events: none;
  transition:
    right 1s,
    opacity 0.2s ease-in;
  z-index: 3001;
}

.tooltip--hidden {
  visibility: hidden;
  opacity: 0;
}

.tooltip--visible {
  visibility: visible;
  opacity: 1;
}

.thumbnail-expanded {
  .player-controls__track-info:hover {
    background-color: rgba(75, 75, 75, 0.4);
  }
  .player-controls__track-thumbnail-wrapper {
    position: absolute;

    // top: 5px;
    top: 0px;
    opacity: 0;
  }
  .player-controls__track-meta {
    min-height: 65px;
    position: absolute;
    top: 5px;

    text-wrap: nowrap;
    height: calc(100% - 10px);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    line-height: 1;
    z-index: 1000;

    transform: translateX(14px);
    transition: transform 0.3s ease;
    will-change: transform;
  }

  .player-controls__button:hover {
    background-color: rgba(100, 100, 100, 0.4);
  }

  .player-controls__play-pause-button {
    background-color: rgba(66, 66, 66, 0.6);
  }

  .player-controls__progress-bar,
  .player-controls__volume-bar {
    background: rgba(238, 238, 238, 0.2);
  }
}

/* ボタンコンテナ */
.player-controls__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 2000;
  // background-color: #141414;
}

.is-visible {
  // display: block;
  opacity: 1;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.has-overlay {
  background: none;
  background-color: rgba(19, 19, 19, 0.8);
}
.is-option {
  // visibility: invisible;

  // pointer-events: none;
  pointer-events: painted;
  opacity: 1;
}

.search-result {
  &__title {
    // font-size: 32px;
    font-weight: 700;
    font-size: $font-size-22;

    padding-bottom: 20px;
  }

  &__list {
    margin-top: 20px;
    counter-reset: my-counter;
    position: relative;
    user-select: none;
  }

  &-highlight {
    color: $primary-color-soft;
    font-weight: 700;
    font-size: $font-size-28;
    padding-right: 4px;
  }
}

.equalizer {
  position: absolute;

  transform: translate(-50%, -50%) rotate(180deg);
  display: flex;
  justify-content: center;
  height: 21px;
}

.bar {
  width: 3px;

  height: 21px;
  /* background-color: limegreen; */
  background-color: $primary-color;
  animation: 1s move6 infinite;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
}
.hidden {
  visibility: hidden;
}

.bar:nth-child(1) {
  animation-delay: 0.2s;
}

.bar:nth-child(2) {
  animation-delay: 0.4s;
}

.bar:nth-child(3) {
  animation-delay: 0.6s;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 2px;
  }

  25% {
    height: 9px;
  }

  50% {
    height: 21px;
  }

  100% {
    height: 2px;
  }
}

.track__list-head {
  border-bottom: 1px solid #636363;
  margin-top: 10px;
  height: 40px;
  display: flex;
  position: relative;

  &-index,
  &-title,
  &-duration {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-index {
    left: 22px;
    font-size: $font-size-18;
  }
  &-title {
    left: 122px;
  }
  &-duration {
    right: 20px;
    width: 16px;
  }
}

.track-item {
  position: relative;
  padding: 7px;
  display: flex;
  transition: background-color 0.2s ease;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: $hover-gray;

    .track-item__left::before {
      content: "";
    }

    .track-item__left-play-pause-button {
      visibility: visible;
    }

    .track-item__button {
      opacity: 1;
    }

    .track-source-icon {
      opacity: 1;
    }
  }

  &__left {
    width: 40px;
    height: 50px;
    margin-right: 7px;
    position: relative;
  }

  &__left::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    display: block;
    float: left;
    line-height: 50px;
    font-size: $font-size-17;

    text-align: center;
    width: 40px;
    height: 50px;
  }

  &.playing {
    .track-item__left::before {
      content: "";
    }
  }

  &.clicked {
    background-color: #1b1b1b;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

    .track-item__title,
    .track-item__left {
      font-weight: 700;
      color: $primary-color;
    }
    .track-source-icon {
      opacity: 1;
    }
  }

  &.clicked:hover {
    .equalizer {
      visibility: hidden;
    }
  }

  &__track-info {
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
  }

  &__artist {
    color: $text-color-sub;
    font-size: $font-size-14;
  }

  &__cover {
    object-fit: cover;
  }

  &__cover-art-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #181818;
    border-radius: 5px;
    border: rgba(146, 146, 146, 0.231372549) solid 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  &__initial-cover {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);

    object-fit: cover;
  }

  &__track-duration {
    margin-left: 12px;
    width: 27px;
  }

  &__right {
    width: 112px;
    width: 120px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: right;
    // gap: 12px;
  }

  .equalizer {
    top: 50%;
    left: 50%;
    width: 21px;
  }
  .bar {
    margin: 0.05em;
  }
}

.track-source-icon {
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.track-source-icon-spotify {
  color: #1db954;
}

.track-source-icon-local {
  color: #aaaaaa;
  // color: $primary-color-stronger;
}

.empty-message-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  color: $text-color-sub;
  font-size: $font-size-18;
  user-select: none;
}

.playlists-page__empty-message-wrapper {
  top: 45%;
}

.playlist-detail__empty-message-wrapper {
  top: 60%;
}

.playlists-selection__empty-message-wrapper {
  text-wrap: nowrap;
  top: 50%;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

@include card-grid(sleep, restore);
