.loading {
  position: fixed;
  width: calc(100vw - 300px);
  width: 100vw;
  height: calc(100vh - 138px);
  bottom: 138px;
  left: 0;
  background-color: #2e2e2e;
  // left: 300px;
  z-index: 2000;

  &__content {
    position: absolute;
    top: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    padding-bottom: 10px;
  }

  &__spinner {
    margin: 0 auto;
  }
}

.mini-loading {
  position: absolute;
  bottom: 0;
  bottom: 20px;

  width: 100%;
  height: 300px;
  background-color: #272727;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #b3b3b3 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #b3b3b3) !important;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
