.login {
  width: 100vw;
  height: 100vh;
  // background-image: linear-gradient(42deg, rgb(0, 0, 0) 10%, rgb(19, 19, 19) 30%, rgb(32, 32, 32) 99%);
  background-color: #000000b2;
  position: relative;
  position: fixed;
  z-index: 10000;
  &__card {
    position: absolute;
    top: 25%;
    top: 200px;
    left: 50%;
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    // border: 1px solid #d91656;
    // border: 1px solid #464646;
    background-color: #2e2e2e;
    // background-image: linear-gradient(42deg, rgba(85, 85, 85, 1), rgba(19, 19, 19, 1) 100%, rgba(0, 0, 0, 1));
    // background-image: linear-gradient(42deg, rgb(20, 20, 20), rgb(2, 2, 2) 49%, rgb(20, 20, 20));
    // background-image: linear-gradient(42deg, rgb(37, 37, 37), rgb(14, 14, 14) 100%, rgba(85, 85, 85, 1));
    // background-image: linear-gradient(42deg, rgba(116, 116, 116, 1), rgba(100, 99, 136, 1) 50%, rgb(0, 0, 0));
    // background-color: #131313;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
  }
  &__text {
    padding-top: 50px;
    line-height: 1.8;
  }
  &__button {
    margin-top: 50px;
    font-weight: 700;
    // padding: 12px 28px;
    padding: 18px 60px;
    // border-radius: 50px;
    border-radius: 10px;
    background-color: #d91656;
    // background-color: #2e2e2e;
    // background-color: #259134;
    transition: background-color 0.1s ease;
    // border: 1px solid #000;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);

    &:hover {
      // opacity: 0.8;
      background-color: rgb(237, 42, 106);
    }
  }
}
