.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  &-smoke {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 0;
    backdrop-filter: blur(5px);
  }

  &-content {
    background-color: #272727;
    width: 600px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 1px solid #3a3a3a;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
  }

  &-field {
    padding-top: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  &-label {
    color: #b3b3b3;
  }
  &-input {
    padding: 10px 0px;
    height: 40px;
    border-bottom: 1px solid #5f5f5f;
  }
  &-actions {
    position: absolute;
    bottom: 30px;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 6px;
    gap: 12px;
  }
}

.login {
  text-align: center;

  &__text {
    padding-top: 50px;
    line-height: 1.8;
  }

  &__button {
    margin-top: 50px;
    font-weight: 700;
    padding: 18px 60px;
    border-radius: 10px;
    background-color: #d91656;

    transition:
      background-color 0.1s ease,
      transform 0.2s ease;

    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6);

    &:hover {
      background-color: rgb(237, 42, 106);
      transform: scale(1.02);
    }
  }
}

.rename-playlist-modal {
  &__content {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__cover-img-wrapper {
    position: relative;
    margin: 30px auto 0 auto;
    width: 140px;
    height: 140px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #181818;
  }

  &__initial-cover-img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
  }

  &__field {
    padding-top: 20px;
  }
}

.error-text {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fc2a2a;
  display: flex;
  align-content: center;
  img {
    margin-right: 6px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-4px);
  }
  25% {
    transform: translateX(4px);
  }
  37.5% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  62.5% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(1px);
  }
  87.5% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.6s ease-in-out;
}

.playlist-selection {
  &__content {
    position: relative;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 470px;
    text-align: center;
    padding: 40px 20px;
    background-color: #272727;
    border-radius: 5px;
    border-radius: 10px;
    // overflow: hidden;
    box-shadow: 0 0px 9px rgba(0, 0, 0, 0.3);
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    top: 5px;
    right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    &:hover {
      background-color: #444444;
    }
  }

  &__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__list {
    margin-top: 40px;
    max-height: 252px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      position: absolute;
      right: -10px;
      width: 7px;
      background-color: #272727;
      box-shadow: none;
    }
  }

  &__item {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #202020;
      background-color: #1d1c1c;
      background-color: #444444;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__item-cover-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #131313;
    position: relative;
  }

  &__item-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-cover-art {
    border-radius: 5px;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
}

.playlist-page__create-playlist-modal {
  &-content {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &-cover-img-wrapper {
    position: relative;
    margin: 30px auto 0 auto;
    width: 140px;
    height: 140px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;

    background-color: #181818;
  }

  &-initial-cover-img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
  }

  &-field {
    padding-top: 20px;
  }
}

.delete-playlist-modal {
  &__content {
    padding-top: 30px;
    padding-bottom: 0;
  }

  &__title {
    text-align: center;
  }

  &__cover-img-wrapper {
    position: relative;
    margin: 60px auto 0 auto;
    width: 140px;
    height: 140px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #181818;
  }

  &__initial-cover-img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
  }

  &__actions {
    bottom: 20px;
    // right: auto;
    // left: 50%;
    // transform: translateX(-50%);
    // gap: 20px;
  }
}
