.playlist-selection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  &__smoke {
    // position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 000;
    backdrop-filter: blur(5px);
  }

  &__content {
    position: relative;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    width: 460px;
    // width: 360px;
    // border: 1px solid red;
    text-align: center;
    padding: 40px 20px;
    background-color: #272727;
    border-radius: 5px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    top: 5px;
    right: 5px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    // border-radius: 10px;
    // border-radius: 50%;
    // padding: 10px;
    &:hover {
      background-color: #444444;
    }
  }

  &__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 80%;
    width: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__create-button {
    margin-top: 20px;
    margin-top: 30px;
    width: 100%;
    padding: 12px 14px;
    padding: 14px;
    &:hover {
      transform: scale(1.04);
      transform: scale(1);
    }
  }

  &__list {
    margin-top: 40px;
    max-height: 252px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      position: absolute;
      right: -10px;
      width: 7px;
      background-color: #272727;
      box-shadow: none;
    }
  }

  &__item {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    // line-height: 1;
    // font-size: 18px;
    // background-color: rgb(51, 51, 51);
    transition: background-color 0.2s ease;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #202020;
      background-color: #1d1c1c;
      background-color: #444444;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
  }

  &__item-cover-art {
    border-radius: 5px;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
}
