@use "variables" as *;
.playlist-detail {
  &__header {
    background-color: rgb(71, 71, 71);
    height: 240px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }

  &__header-cover-img-wrapper {
    width: auto;
    height: 100%;

    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);

    position: relative;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    position: relative;
    overflow: hidden;
    background-color: #181818;
  }

  &__header-cover-imgs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transition: opacity 0.5s ease;

    opacity: 0;
  }

  &__header-cover-imgs.single {
    display: block;
  }

  &__header-initial-cover-img-bg {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #181818;

    opacity: 1;
    transition: opacity 0.6s ease;

    // z-index: 9000;
  }

  &__header-cover-img {
    object-fit: cover;
  }

  .single .img-0 {
    width: 200px;
    height: 200px;
  }

  &__header-info {
    position: relative;

    text-wrap: nowrap;
  }

  &__header-title {
    font-size: 56px;
    font-size: $font-size-62;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__header-status {
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: $font-size-14;
  }

  &__header-actions-buttons {
    position: absolute;
    display: flex;
    gap: 20px;
    bottom: 20px;
    right: 20px;
  }

  &__list {
    margin-top: 100px;
    margin-top: 20px;
    counter-reset: my-counter;
    position: relative;
    user-select: none;
  }

  &__item {
    position: relative;
    padding: 7px;
    display: flex;
    transition: background-color 0.2s ease;
    border-radius: 5px;
  }

  &__item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: $hover-gray;
  }

  &__artist {
    color: $text-color-sub;
    font-size: $font-size-14;
  }
  &__cover-art {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: #9292923b solid 1px;
  }
  &__left {
    width: 40px;
    height: 50px;
    margin-right: 7px;
    position: relative;
  }
  &__left::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    display: block;
    float: left;
    line-height: 50px;
    font-size: $font-size-17;
    text-align: center;
    width: 40px;
    height: 50px;
  }
  &__right {
    // color: #fff;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    // width: 120px;
    // height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

// .show-initial-cover {
//   opacity: 1;
// }
