.playlists-page {
  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__text {
    padding-top: 40px;
    font-size: 18px;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    width: 200px;
    height: 265px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  &__item:hover {
    background-color: #444444;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  &__item-cover-img-wrapper {
    position: relative;
    width: 100%;
    height: 188px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #222222;
    // background-color: #1d1d1d;
    background-color: #181818;
  }

  &__item-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-info {
    padding-top: 10px;
  }

  &__item-name {
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__item-count {
    // padding-top: 10px;
    color: #b3b3b3;
    padding-right: 10px;
  }

  &__item-hours {
    color: #b3b3b3;
  }
}

.playlist-page__create-playlist-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  &-smoke {
    // position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 000;
    backdrop-filter: blur(5px);
  }

  &-card {
    background-color: #272727;
    width: 600px;
    height: 400px;
    // position: absolute;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
  }

  &-field {
    padding-top: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  &-label {
    // font-size: 14px;
    color: #b3b3b3;
  }
  &-input {
    // margin-top: 10px;
    padding: 10px 0px;
    height: 40px;
    // padding-bottom: 2px;
    // line-height: 1;
    // background-color: #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
  }
  &-actions {
    position: absolute;
    bottom: 30px;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 6px;
  }
}

.img-0 {
  grid-column: 1;
  grid-row: 1;
}

.img-2 {
  grid-column: 2;
  grid-row: 1;
}

.img-3 {
  grid-column: 1;
  grid-row: 2;
}

.img-1 {
  grid-column: 2;
  grid-row: 2;
}

// プレイリストの初期値のカバー画像
.playlist-initial-cover-img {
  position: absolute;
  top: 50%;
  left: 46.5%;
  width: 70px;
  height: 70px;
  z-index: 1000;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.playlist-selection__item-initial-cover-img {
  left: 47%;
  width: 24px;
  height: 24px;
}
