@use "variables" as *;
.playlists-page {
  &__title {
    font-size: $font-size-32;
    font-weight: 700;
  }

  &__text {
    padding-top: 40px;
    font-size: $font-size-18;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    width: 200px;
    height: 268px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    padding: 5px;
    font-size: $font-size-14;
    cursor: pointer;
  }
  &__item:hover {
    background-color: $hover-gray;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    .playlists-page__item-play-pause-button {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &__item-cover-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #181818;
  }

  &__item-cover-img-wrapper {
    width: 100%;
    height: 100%;

    border: none !important;
    box-shadow: none;
    border-radius: 0;
  }

  &__item-initial-cover-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
  }

  .single {
    .img-0 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .single .playlist-cover-fallback-wrapper {
    opacity: 0;
  }

  &__item-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-info {
    padding-top: 10px;
  }

  &__item-name {
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__item-meta {
    color: $text-color-sub;
  }
}

.playlist-cover-image-grid {
  overflow: hidden;

  // border-radius: 10px;
  border-radius: 5px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
  border: rgba(175, 175, 175, 0.2745098039) solid 1px;

  background-color: #181818;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.playlist-cover-img {
  width: 100%;
  height: 100%;
}

.track-0,
.img-0 {
  grid-column: 1;
  grid-row: 1;
}

.track-1,
.img-1 {
  grid-column: 2;
  grid-row: 2;
}

.track-2,
.img-2 {
  grid-column: 2;
  grid-row: 1;
}

.track-3,
.img-3 {
  grid-column: 1;
  grid-row: 2;
}

.track-0 {
  border-right: rgba(146, 146, 146, 0.231372549) solid 0.1px;
  border-bottom: rgba(146, 146, 146, 0.231372549) solid 0.1px;
}

.track-1 {
  border-top: rgba(146, 146, 146, 0.231372549) solid 0.1px;
  border-left: rgba(146, 146, 146, 0.231372549) solid 0.1px;
}

.playlist-cover-fallback-wrapper {
  position: relative;
  background-color: #181818;
}

.playlist-cover-fallback {
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.playlist-initial-cover-img {
  position: absolute;
  top: 50%;
  left: 46.5%;
  transform: translate(-50%, -50%);
}

// .playlist-selection__item-initial-cover-img {
//   left: 47%;
//   width: 24px;
//   height: 24px;
// }

// .playlist-selection {
//   &__item-cover-wrapper {
//     position: relative;
//     width: 64px;
//     height: 64px;
//     border-radius: 10px;
//     box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
//     // border: rgba(175, 175, 175, 0.2745098039) solid 1px;
//     background-color: #181818;

//     overflow: hidden;
//   }

//   &__item-cover-img-wrapper {
//     width: 100%;
//     height: 100%;
//     box-shadow: none;
//   }

//   &__coverfallback-img {
//     width: 12px;
//     height: 12px;
//     position: absolute;
//     top: 50%;
//     left: 46.5%;
//     transform: translate(-50%, -50%);
//   }

//   .single .img-0 {
//     width: 64px;
//     height: 64px;
//   }

//   .single .track-0 {
//     opacity: 0;
//   }

//   &__item-initial-cover-img-bg {
//     opacity: 1;
//   }
// }

.cover-img-wrapper {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  // transition: opacity 0.6s ease;
}

// .playlist-initial-cover-img {
//   position: absolute;
//   top: 50%;
//   left: 46.5%;
//   width: 70px;
//   height: 70px;
//   // z-index: 1000;

//   object-fit: cover;
//   transform: translate(-50%, -50%);
// }
