.playlists-page {
  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  &__text {
    padding-top: 40px;
    font-size: 18px;
  }

  &__create-button {
    margin-top: 40px;
    font-size: 14px;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    width: 200px;
    height: 265px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  &__item:hover {
    background-color: #444444;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  &__item-cover-art-wrapper {
    position: relative;
    width: 100%;
    // height: 180px;
    height: 188px;
    border: rgba(175, 175, 175, 0.2745098039) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
  }

  &__item-cover-art {
    border-radius: 5px;
    // background-color: #242424;
    // width: 100%;
    // height: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &__item-initial-cover-art {
    background-color: #242424;
    background-color: #131313;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1000;
    &::after {
      content: '';
      background-image: url('img/playlist-icon1.png');
      background-size: cover;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      left: 46.5%;
      left: 45%;
      transform: translate(-50%, -50%);
    }

    // background-image: url(img/playlist-icon1.png);
  }

  &__item-info {
    padding-top: 10px;
  }

  &__item-name {
    font-weight: 700;
  }

  &__item-song-count {
    padding-top: 10px;
    color: #b3b3b3;
  }
}

.playlist-page__create-playlist-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;

  &-smoke {
    // position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100vw;
    height: 100vh;
    bottom: 0;
    z-index: 000;
    backdrop-filter: blur(5px);
  }

  &-card {
    background-color: #272727;
    width: 600px;
    height: 400px;
    // position: absolute;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
  }

  &-field {
    padding-top: 40px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  &-label {
    // font-size: 14px;
    color: #b3b3b3;
  }
  &-input {
    // margin-top: 10px;
    padding: 10px 0px;
    height: 40px;
    // padding-bottom: 2px;
    // line-height: 1;
    // background-color: #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
  }
  &-actions {
    position: absolute;
    bottom: 30px;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 6px;
  }

  &-cancel:hover {
    background-color: #5f5f5f;
  }
  &-create:hover {
    background-color: rgb(217, 22, 86);
  }
}
.playlist-button {
  padding: 10px 16px;
  transition: background-color 0.1s ease;
  border-radius: 5px;
  transition:
    transform ease 0.1s,
    background-color ease 0.1s;
  // &:active {
  //   transform: scale(0.96);
  //   // transform: scale(0.9);
  // }
}
