@use "variables" as *;
.toast-message {
  visibility: hidden;
  position: fixed;
  right: 20px;
  bottom: 150px;
  font-size: $font-size-17;
  font-weight: 500;
  min-width: 250px;
  background-color: #414141;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  will-change: right, opacity;

  pointer-events: none;
  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}

.playlist-update-success {
  visibility: visible;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    right: -350px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    right: 20px;
    opacity: 1;
  }
  to {
    right: -350px;
    opacity: 0;
  }
}
