@use "variables" as *;
.toast-message {
  position: fixed;
  right: 20px;
  bottom: 150px;
  font-size: $font-size-17;
  font-weight: 500;
  min-width: 250px;
  background-color: #414141;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  will-change: right, opacity;

  transition:
    right 0.5s ease,
    opacity 0.5s ease;

  pointer-events: none;
  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}
