$primary-color: rgb(217, 22, 86);
$primary-color-soft: rgb(248, 27, 101);
$primary-color-stronger: rgb(255, 0, 85);
$primary-color-hover: rgb(224, 59, 114);

$background-color: #2e2e2e;

$hover-gray: #444;

$text-color: #fff;
$text-color-sub: #b3b3b3;

$error-color: #fc2a2a;

$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.9375rem;
$font-size-16: 1rem;
$font-size-17: 1.0625rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-32: 2rem;
$font-size-62: 3.875rem;
